<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-12">
        <ul>
            <li>
                <h3>Todosoft Misiones  (empresa local de software) Marzo 2.016 - Actualidad.</h3>
                <p><strong>Técnico IT</strong>: soporte técnico a los clientes de los sistemas de Gestión Comercial “Todosoft Gestión” y “Tepeve”, además de otros programas específicos desarrollados por la empresa (por ejemplo, para aserraderos, estudios contables, empresas de encomiendas, cooperativas de servicios público, etc), además del soporte por el sistema propio se suele asistir con problemas de sistemas operativos, antivirus, periféricos, etc. y una básica consultoría administrativa, contable e impositiva</p>
            </li>
            <li>
                <h3>Trabajo  por cuenta propia como vendedor y Técnico en reparación de PC Abril 2.010 - Marzo 2.016.</h3>
                <p><strong>Venta directa mayorista y minorista</strong>: venta de fiambres y lácteos, representates comercial de diversas firmas y vendedor de salón de equipamiento comercial</p>
                <p><strong>Técnico de reparación en pc</strong>: atención a domicilio a comercios y particulares</p>
            </li>
            <li>
                <h3>“Servi SRL” Distribuidora de productos alimenticios (representantes de Fiambres Lario y Lácteos Verónica, entre otros) Marzo 2.009 - Abril 2.010.</h3>
                <p><strong>Diversas tareas administrativas</strong>: (Compras, stock, personal, sueldos, cuentas corrientes, bancos, liquidación de impuestos, decisiones operativas y estratégicas…), en resumen, junto al encargado de depósito, era la mano derecha del propietario. </p>
                <p><strong>Supervisor de ventas y cobranzas</strong> : seguimiento de cuentas corrientes y supervisión de vendedores y cobradores. Ventas especiales a clientes importantes.</p>
                <p><strong>Administrador de sistemas </strong> : con profundo manejo, instalación y mantenimiento de sistema Tango Gestión.</p>
            </li>
            <li>
                <h3>“Petromisiones S.A.”(Estaciones de servicio y distribuidor de lubricantes Shell, con 6 puntos de venta) Febrero 2.007 a Marzo 2.009 </h3>
                <p><strong>Auditoria</strong>: controles en sucursales</p>
                <p><strong>Administrativo</strong> : controles varios (cajas, inventarios, stock de tanques de combustibles, ventas, etc.), procesamiento de datos (planillas de cajas, compras, ventas, envíos transferencias, licitaciones), seguimiento y actualizaciones de precios, constante confección de diversos informes y planillas de control; control y pago de servicios e impuestos. </p>
                <p><strong>Otras tareas</strong> : cubriendo vacaciones de playero, vendedor de shop, encargado de sucursal, encargado de compras, encargado de personal.</p>
                <p><strong>Sistemas</strong> : en todas las tareas constante uso y mantenimiento de sistemas Tango y SV (SADA), muy buen manejo de ambos. Reparación de máquinas o solución de cualquier problema informático en la empresa.</p>
            </li>
        </ul>
    </div>
</div>