<div>
    <a href="https://www.facebook.com/"><img src="../../../assets/facebook.png" id="Facebook" alt="Logo de Facebook"></a>
    <a href="https://www.instagram.com/"><img src="../../../assets/Instagram.jpg" id="Instagram" alt="Logo de Instagram"></a>
    <a href="https://www.linkedin.com/"><img src="../../../assets/linkedin.png" id="Linkedin" alt="Logo de Linkedin"></a>
    <a href="https://twitter.com/"><img src="../../../assets/Twitter.png" id="Twitter" alt="Logo de Twitter"></a>
    <a href="https://www.snapchat.com/es"><img src="../../../assets/Snapchat.png" id="Snapchat" alt="Logo de Snapchat"></a>
    <button type="button" class="btn btn-outline-ligth">INGRESAR</button>
</div>

