<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/pc.png">
        <h2>Roberto Sebastián Bareiro</h2>
        <h3>Full Stack Developer</h3>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p> •	<strong>Informática:</strong> manejo avanzado de programas de oficina (Word, Excel, Access, Internet, correo electrónico, etc), sistemas operativos y programas de gestión comercial (muy avanzado de sistemas Tango y SV-Sada, conocimientos básicos de sistemas Bejerman y Discovery). Programación en varios lenguajes (Java, C, C++, SQL, entornos Visual Basic, NetBeans, Dreamweaver…). Diseño, implementación y mantenimiento de bases de datos (SQL Server, MYSQL). Reparación y mantenimiento de equipos, redes y servidores. Diseño y administración de páginas web (HTML, CSS, PHP, Javascript, servidor Apache) </p>
            <p> •	<strong>Administrativo “todo terreno”:</strong> gracias a mi experiencia en empresas donde había que hacer “de todo” y a los estudios cursados puedo desempeñarme adecuadamente como administrativo en cualquier área (compras, ventas, almacenamiento, stock, logística, cuentas corrientes, bancos, manejo de personal, sueldos, impuestos, auditoría, trámites, manejo de caja y pagos, documentos comerciales…)</p>
            <p> •	<strong>Informatización de rutinas e informes:</strong> gracias a mis conocimientos administrativos, contables e impositivos y mi avanzado manejo de herramientas informáticas, siempre intento optimizar el trabajo, mejorando el rendimiento de las tareas y en la calidad y presentación de la información.</p>
        </span>
    </div>
</div>