<div class="row">
    <h1>Estudios realizados</h1>
    <div class="col-lg-12">
        <ul>
            <li>
                <h3>“Contador Público” Universidad Nacional de Quilmes (modalidad virtual)</h3>
                <p> Cursando desde julio de 2.019, con 20 materias regularizadas (16 aprobadas) de las 33 materias del plan de estudios</p>                
            </li>
            <li>
                <h3>“Técnico Superior en Análisis de Sistemas”: en el I.E.S.A (Instituto de Estudios Superiores Argentino)</h3>
                <p>Cursado completo realizado entre el año 2.006 y el 2.009</p>
            </li>
            <li>
                <h3>“Técnico Profesional en Reparación de PC”</h3>
                <p>Curso realizado en el C.I.S. (Centro de Informática Superior) de Posadas</p>
            </li>
            <li>
                <h3>Auxiliar Administrativo Contable.</h3>
                <p>Curso realizado en la “Fundación Alfa” de Posadas</p>
            </li>
            <li>
                <h3>Cursos varios de informática</h3>
                <p>Diseño web, desarrollo de aplicaciones móviles, bases de datos, marketing digital, diseño UX-UI, redes, y otros.</p>
            </li>
        </ul>
    </div>
</div>